@use '../../styles/screen.scss';

$container-xs: 460px;
$container-s: 540px;
$container-m: 720px;
$container-l: 960px;
$container-xl: 1140px;

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: screen.$screen-xs) {
  .container {
    max-width: $container-xs;
  }
}

@media (min-width: screen.$screen-s) {
  .container {
    max-width: $container-s;
  }
}

@media (min-width: screen.$screen-m) {
  .container {
    max-width: $container-m;
  }
}

@media (min-width: screen.$screen-l) {
  .container {
    max-width: $container-l;
  }
}

@media (min-width: screen.$screen-xl) {
  .container {
    max-width: $container-xl;
  }
}